<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Phishing Detection</title>
</head>
<body>
    <h1>Voice Phishing Detection</h1>
    <input type="file" id="fileInput" accept=".txt">
    <button onclick="uploadFile()">업로드</button>
    <div id="conversation" style="display: none;">
        <h2>Conversation</h2>
        <pre id="conversationContent"></pre>
        <button onclick="toggleConversation()">대화내용 보기/가리기</button>
    </div>
    <div id="result"></div>
    <canvas id="myChart"></canvas>

    <script src="./index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
